{% extends 'Project/base.html' %}

{% block content %}

<p>Property: <a href="{% url 'property:property_detail' property.id %}">{{ property.prop_name }}</a></p>
<p>Submittal: {{ submittal.submittal_month }}/{{ submittal.submittal_year }}</p>
<table>
    <tr>
        <td>Leasing Status:</td>
        <td>{{ submittal.leasing_status }}</td>
        {% if submittal_status == 'open' %}
            <td><a href="{% url 'submittal:edit_leasing_status' submittal.id %}">Edit</a></td>
        {% endif %}
    </tr>
    <tr><td>---</td></tr>
    {% if leasing_status_confirmed == 'Yes' %}
        <tr>
            <td>Opening Date: </td>
            <td>{{ property.date_opening }}</td>
            <td><a href="{% url 'submittal:edit_opening_date' submittal.id %}">Edit</a></td>
        </tr>
        {% if open_date_complete == 'complete' %}
            <tr>
                <td>Stabilization Date:</td>
                <td>{{ property.date_stabilization }}</td>
                <td><a href="{% url 'submittal:edit_stabilization_date' submittal.id %}">Edit</a></td>
            </tr>
            {% if stabilization_date_complete == 'complete' %}
                <tr>
                    <td>End of Period Occupancy Rate (%):</td>
                    <td>{{ submittal.occupancy_rate }}</td>
                    {% if submittal_status == 'open' %}
                        <td><a href="{% url 'submittal:edit_rate' submittal.id 'occupancy_rate' %}">Edit</a></td>
                    {% endif %}
                </tr>
                <tr><td>---</td></tr>
                <tr>
                    <td>Operating Revenue (Monthly):</td>
                </tr>
                <tr>
                    <td>Budget ($):</td>
                    <td>{{ submittal.op_rev_month_budget }}</td>
                    {% if submittal_status == 'open' %}
                        <td><a href="{% url 'submittal:edit_dollar_amount' submittal.id 'op_rev_month_budget' %}">Edit</a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Actual ($):</td>
                    <td>{{ submittal.op_rev_month_actual }}</td>
                    {% if submittal_status == 'open' %}
                        <td><a href="{% url 'submittal:edit_dollar_amount' submittal.id 'op_rev_month_actual' %}">Edit</a></td>
                    {% endif %}
                </tr>
                {% if fiscal_half_end == 'Yes' %}
                    <tr><td>---</td></tr>
                    <tr>
                        <td>Net Operating Income (Semi-Annual)</td>
                    </tr>
                    <tr>
                        <td>Budget ($):</td>
                        <td>{{ submittal.noi_semi_ann_budget }}</td>
                        {% if submittal_status == 'open' %}
                            <td><a href="{% url 'submittal:edit_dollar_amount' submittal.id 'noi_semi_ann_budget' %}">Edit</a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Actual ($):</td>
                        <td>{{ submittal.noi_semi_ann_actual }}</td>
                        {% if submittal_status == 'open' %}
                            <td><a href="{% url 'submittal:edit_dollar_amount' submittal.id 'noi_semi_ann_actual' %}">Edit</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
                {% if fiscal_qtr_end == 'Yes' %}
                    <tr><td>---</td></tr>
                    <tr>
                        <td>Total Operating Revenue (Quarter-End)</td>
                    </tr>
                    <tr>
                        <td>Budget ($):</td>
                        <td>{{ submittal.op_rev_qtr_budget }}</td>
                        {% if submittal_status == 'open' %}
                            <td><a href="{% url 'submittal:edit_dollar_amount' submittal.id 'op_rev_qtr_budget' %}">Edit</a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Actual ($):</td>
                        <td>{{ submittal.op_rev_qtr_actual }}</td>
                        {% if submittal_status == 'open' %}
                            <td><a href="{% url 'submittal:edit_dollar_amount' submittal.id 'op_rev_qtr_actual' %}">Edit</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
                <tr><td>---</td></tr>
                <tr>
                    <td>Delinquency Rate (%):</td>
                    <td>{{ submittal.delinquency_rate }}</td>
                    {% if submittal_status == 'open' %}
                        <td><a href="{% url 'submittal:edit_rate' submittal.id 'delinquency_rate' %}">Edit</a></td>
                    {% endif %}
                </tr>
                <tr><td>---</td></tr>
                <tr>
                    <td>Bad Debt Write-Offs (Yes/No)</td>
                    <td>{{ bad_debt_writeoff }}</td>
                    {% if submittal_status == 'open' %}
                        <td><a href="{% url 'submittal:edit_yes_no' submittal.id 'bad_debt_writeoffs' %}">Edit</a></td>
                    {% endif %}
                </tr>
                <tr><td>---</td></tr>
                <tr>
                    <td>Lease-Up Override Bonus (Yes/No):</td>
                    <td>{{ lease_up_override }}</td>
                    {% if submittal_status == 'open' %}
                        <td><a href="{% url 'submittal:edit_yes_no' submittal.id 'lease_up_override' %}">Edit</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endif %}
</table>

{% if data_points_complete == 'complete' %}
    <p>Employees</p>
    <table style="border: 1px solid black; width: 100%">
        <tr>
            <td>Employee #</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Position</td>
            <td>Status</td>
        </tr>
        {% for employee in employees.all %}
            <tr>
                <td>{{ employee.emp_id }}</td>
                <td>{{ employee.emp_name_first }}</td>
                <td>{{ employee.emp_name_last }}</td>
                <td>{{ employee.job_title }}</td>
                <td>{{ employee.emp_status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if employee_selections == 'complete' %}
    <p>Submit</p>
{% endif %}

{% endblock %}