{% extends 'Project/base.html' %}

{% block content %}

<p>{{ property.prop_name }}</p>
<p>Submittal: {{ submittal.submittal_month }}/{{ submittal.submittal_year }}</p>
<table>
    <tr>
        <td>Occupancy Rate (%):</td>
        <td>{{ submittal.occupancy_rate }}</td>
    </tr>
    <tr>
        <td>Leasing Status:</td>
        <td>{{ submittal.leasing_status }}</td>
    </tr>
    <tr>
        <td>Operating Revenue (Monthly):</td>
    </tr>
    <tr>
        <td>Budget ($):</td>
        <td>{{ submittal.op_rev_month_budget }}</td>
    </tr>
    <tr>
        <td>Actual ($):</td>
        <td>{{ submittal.op_rev_month_actual }}</td>
    </tr>
    <tr>
        <td>Net Operating Income (Semi-Annual)</td>
    </tr>
    <tr>
        <td>Budget ($):</td>
        <td>{{ submittal.noi_semi_ann_budget }}</td>
    </tr>
    <tr>
        <td>Actual ($):</td>
        <td>{{ submittal.noi_semi_ann_actual }}</td>
    </tr>
    <tr>
        <td>Total Operating Revenue (Quarter-End)</td>
    </tr>
    <tr>
        <td>Budget ($):</td>
        <td>{{ submittal.op_rev_qtr_budget }}</td>
    </tr>
    <tr>
        <td>Actual ($):</td>
        <td>{{ submittal.op_rev_qtr_actual }}</td>
    </tr>
    <tr>
        <td>Delinquency Rate:</td>
        <td>{{ delinquency.delinquency_rate }}</td>
    </tr>
    <tr>
        <td>Bad Debt Write-Offs</td>
        <td>{{ bad_debt_writeoff }}</td>
    </tr>
    <tr>
        <td>Lease-Up Override Bonus:</td>
        <td>{{ lease_up_override }}</td>
    </tr>
</table>

{% endblock %}